
.body { 
    margin-left: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.navigation {
    display: flex;
    margin-top: 15px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    width: 50vw;
}

#youtube-logo {
    height: 20px;
    width: 90px;
    padding-left: 10px;
    padding-right: 280px;
}

#bar {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
    height: 22px;
}

.video {
    margin-left: 2%;
}

#search-icon {
    margin-right: 10px;
    color: rgb(131, 128, 128);
    background-color: rgb(228, 225, 225);
    height: 100%;
    width: 10vw;
    align-items: center;
    align-content: center;
    justify-content: center;
    display:flex;
    border:rgb(131, 128, 128);
    border-style: solid;
    border-width: thin;
    border-radius: 2px;
}

#mic-icon {
    display: flex;
    color: rgb(131, 128, 128);
}

#apps-icon { 
    position: relative;
    color: rgb(131, 128, 128);
    left: 190px;
}

#more-icon {
    position: relative;
    color: rgb(131, 128, 128);
    left: 200px;
}

#profile-icon {
    position: relative;
    color: rgb(131, 128, 128);
    left: 210px;
}

.title { 
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 20px;
    margin-left: 2%;

}
.description {
    font-family: 'Roboto', sans-serif;
    color: rgb(131, 128, 128);
    margin-left: 2%;

}

#sub-count { 
    font-size: 13px;
}