
.body { 
    margin-left: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.navigation {
    display: flex;
    margin-top: 15px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    width: 50vw;
}

#youtube-logo {
    height: 20px;
    width: 90px;
    padding-left: 10px;
    padding-right: 280px;
}

#bar {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
    height: 22px;
}

.video {
    margin-left: 2%;
    position:relative;
    top: 20px;
}

#search-icon {
    margin-right: 10px;
    color: rgb(131, 128, 128);
    background-color: rgb(228, 225, 225);
    height: 100%;
    width: 10vw;
    align-items: center;
    align-content: center;
    justify-content: center;
    display:flex;
    border:rgb(131, 128, 128);
    border-style: solid;
    border-width: thin;
    border-radius: 2px;
}

#mic-icon {
    display: flex;
    color: rgb(131, 128, 128);
}

#apps-icon { 
    position: relative;
    color: rgb(131, 128, 128);
    left: 190px;
}

#more-icon {
    position: relative;
    color: rgb(131, 128, 128);
    left: 200px;
}

#profile-icon {
    position: relative;
    color: rgb(131, 128, 128);
    left: 210px;
}

.title { 
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 20px;
    margin-left: 2%;
    position: relative;
    top: 20px;

}
.description {
    font-family: 'Roboto', sans-serif;
    color: rgb(131, 128, 128);
    margin-left: 2%;
    margin-right: 40%;
    position: relative;
    top: 20px;
}

#profile-photo {
    width: 44px;
    height: 44px;
}

#sub-count { 
    font-size: 13px;
    position: relative;
    left: 50px;
    bottom: 50px;
}

#video-description { 
    font-size: 14px;
    color: rgb(66, 65, 65);
    position: relative;
    bottom: 40px;
}

#channel-name { 
    font-weight: bold;
    color: black;
    font-size: 15px;
    position: relative;
    left: 50px;
    bottom: 40px;
}

.suggestions { 
    font-family: 'Roboto', sans-serif;
    margin-left: 70%;
    position: relative;
    bottom: 780px;
}

.thumbnails { 
    width: 168px;
    height: 94px;
}

#suggestion-title, #suggestion-title-2, #suggestion-title-3, #suggestion-title-4, #suggestion-title-5, #suggestion-title-6 {
    position: relative;
    left: 180px;
    top: 90px;
}
#details, #details-2, #details-3, #details-4, #details-5, #details-6 { 
    font-size: 13px;
    color: rgb(66, 65, 65);
    position: relative;
    left: 180px;
    top: 100px;
}

#video-1, #video-2, #video-3, #video-4, #video-5, #video-6 {
    position: relative;
    height: 100px;
}